.custom-form {
    width: 300px;
    margin: 100px auto;
    text-align: center; 
    border: 1px solid black;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;

  }
  
  .custom-input {
 
    margin-bottom: 10px; 
    width: 100%; 
    padding: 8px; 
  }
  
  .custom-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer; 
  }
  
  .custom-button:hover {
    background-color: #0056b3; 
  }

  .custom-button[disabled] {
    background-color: grey;
    cursor: not-allowed;
  }
  

  p.error {
    text-align: left;
    color:#ff0000;
    padding-top: 0;
  }

  .input-error {
    border-left-color: #ff0000;
  }
  .validator{
    color: red;
  }
  