<section class="details" >
<div *ngIf="player" class="details-side">
    <img [src]="player.image" alt="Player Image">
    <h3>{{ player.name }}</h3>
    <div class="info">
    <p><strong>Age:</strong> {{player.age}}</p>
    <p><strong>Position:</strong> {{player.position}}</p>
    <p><strong>Nationality:</strong> {{player.nationality}}</p>
    <p><strong>Details:</strong> {{player.details}}</p>
</div>
    <div class="buttons-details">
        <button class="edit-btn" [routerLink]="'/catalog/edit/'+ player._id"> Edit </button>
        <button class="delete-btn" (click)="deletePlayer()"> Delete </button>
    </div>
  </div>
</section>
