<div class="form">
    <h2>Register</h2>
    <form  class="register" [formGroup]="form" (ngSubmit)="register()">
      <input
        type="text"
        name="email"
      
        placeholder="email"
        formControlName="email"
      />
      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email required!</p>
        <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">Invalid email</p>

      </ng-container>

      <ng-container formGroupName="passGroup">
      <input
        type="password"
        name="password"
      
        placeholder="password"
        formControlName="password"
      />
      <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
        <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']">Password required!</p>
        <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']">Password too short!</p>
      </ng-container>

      <input
        type="password"
        name="rePassword"
       
        placeholder="repeat password"
        formControlName="rePassword"
      />

      <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">

        <p class="error"
         *ngIf="form.get('passGroup')?.errors?.['passwordMatchValidator']" >
        Password doesn't match!
        </p>

      </ng-container>

      </ng-container>
      <button type="submit" [disabled]="form.invalid" 
        >Register</button>
      <p class="message">Already registered? <a routerLink="/login">Login</a></p>
    </form>
  </div>
