<header>
    <!-- Navigation -->
    <a id="logo" routerLink="/"><img id="logo-img" src="https://www.arsenal.com/themes/custom/arsenal_main/logo.svg" /></a>

    <nav>
      <div>
        <a routerLink="/catalog">Players</a>
      </div>

      <!-- Logged-in users -->
      <div class="user">
       

        <a *ngIf="isLoggedIn" routerLink="/create">Add Players</a>
        <a *ngIf="isLoggedIn" routerLink="/search"> Search </a>
        <a *ngIf="isLoggedIn" class="logout"id = "logoutBtn" (click)="logout()">Logout</a>
      </div>

      <!-- Guest users -->
      <div class="guest">
        <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
        <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>
      </div>

      
    </nav>
  </header>
