<!-- <p>new-signings works!</p> -->
<div class="createPlayerSection">

    <form class="createPlayerForm">
        <h2>Add Player</h2>
        <ul class="noBullet">
            <li>
                <label for="name">Name:</label>
                <input type="text" class="inputFields" id="name" name="name" />
            </li>
            <li>
                <label for="age">Age:</label>
                <input type="number" class="inputFields" id="age" name="age" />
            </li>
            <li>
                <label for="born">Position:</label>
                <input type="text" class="inputFields" id="position" name="position" />
            </li>
            <li>
                <label for="nationality">Nationality:</label>
                <input type="text" class="inputFields" id="nationality" name="nationality" />
            </li>
            <li>
                <label for="image">Player Image:</label>
                <input type="text" class="inputFields" id="image" name="playerImage" />
            </li>
            <li id="center-btn">
                <button id="create-btn">Add Player</button>
            </li>
        </ul>
    </form>

</div>