
<form >
<div class="search-container">
    <input type="text" placeholder="Search by position..." class="search-input" #filter>
    <button class="search-button" (click)="filterResults(filter.value)">Search</button>
  </div>
</form>
 
  <div class="player-grid" *ngIf="filteredPlayersList.length > 0; else noResults">
    <div  *ngFor="let player of filteredPlayersList; " >
      <div class="player-container">
        <a routerLink="/team/catalog/details/{{player._id}}">
          <img [src]="player.image" alt="Player Image">
        </a>
        <h3>{{player.name}}</h3>
        <a routerLink="/team/catalog/details/{{player._id}}"> More Info </a>
      </div>
    </div>
   
  </div>
  <ng-template  #noResults>
    <div class="no-results">No results</div>
  </ng-template>