
<section class="two-matches">
<section class="home-side" *ngFor="let match of matches | slice:-2">
    <section class="one-home-card">
        <div class="top-side">
            <div class="desc">
                <p>{{match.matchDate}}|</p>
                <div class="horizontal"></div>
                <p>{{match.stadium}}</p>
                <p>{{match.time}}</p>

            </div>
            <div class="info">
                <img src="/assets/media/comp_8.webp" alt="competition img">
            </div>
        </div>
        <div class="down-side">
            <div class="left-side">
                <img src="{{match.image2}}" alt="image2" class="left-img">
                <p>{{match.team1}}
                </p>
            </div>
            <div class="right-side">
                <p>{{match.team2}}</p>

                <img src="{{match.image3}}" alt="image3" class="right-img">
            </div>
        </div>

    </section>
</section>
</section>
