<section class="home-side">
    <section class="one-home-card">
        <div class="top-side">
            <div class="desc">
                <p>Sun Mar 31 2024 - 15:30 |</p>
                <div class="horizontal"></div>
                <p> Etihad Stadium</p>
            </div>
            <div class="info">
                <img src="/assets/media/comp_8.webp" alt="image1">
            </div>
        </div>
        <div class="down-side">
            <div class="left-side">
                <img src="/assets/media/MAN.webp" alt="image2" class="left-img">
                <p>Manchester City
                </p>
            </div>
            <div class="right-side">
                <p>Arsenal</p>

                <img src="/assets/media/arsenal-1.webp" alt="image3" class="left-img">
            </div>
        </div>
    </section>
    <section class="one-home-card">
        <div class="top-side">
            <div class="desc">
                <p>Sun Mar 31 2024 - 15:30 |</p>
                <div class="horizontal"></div>
                <p> Etihad Stadium</p>
            </div>
            <div class="info">
                <img src="/assets/media/comp_8.webp" alt="image1">
            </div>
        </div>
        <div class="down-side">
            <div class="left-side">
                <img src="/assets/media/MAN.webp" alt="image2" class="left-img">
                <p>Manchester City
                </p>
            </div>
          <div class="league">
            <img src="" alt="">
          </div>
            <div class="right-side">
                <p>Manchester United</p>

                <img src="/assets/media/arsenal-1.webp" alt="image3" class="left-img">
            </div>
        </div>
    </section>
   
</section>