/* styles.css (or your component-specific CSS file) */

/* Form container */
.form {
    width: 200px;
    margin: 0 auto;
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  /* Form header
  .form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  } */
  
  /* Form inputs */
  .form input {
    width: 89%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Form submit button */
  .form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  
  /* Message below the form */
  .form .message {
    text-align: center;
    margin-top: 15px;
    color: #666;
  }
  
  /* Link within the message */
  .form .message a {
    color: #ff0000;
    text-decoration: none;
  }
  
  .form .message a:hover {
    text-decoration: underline;
  }

  p.error {
    text-align: left;
    color:#ff0000;
    padding-top: 0;
  }

  .input-error {
    border-left-color: #ff0000;
  }
  
  